text {
  font: normal 12px Arial;
}

.chart-axis.x text {
  text-anchor: middle;
}

.chart-axis.y text {
  text-anchor: end;
}

.chart-axis .axis {
  fill: none;
  stroke: #000;
  stroke-opacity: .75;
  shape-rendering: crispEdges;
}

.chart-axis line {
  fill: none;
  stroke: #e5e5e5;
  shape-rendering: crispEdges;
}

text.nv-axislabel {
  text-anchor: middle;
}

g.nv-scatter g.nv-groups g.nv-group {
  stroke-opacity: 1;
  fill-opacity: 0.5;
}

.chart-series {
  stroke-opacity: 1;
  fill-opacity: 0.5;
}

.chart-series g text {
  opacity: 0;
  stroke: #000;
  text-anchor: middle;
}

.chart-series g:hover text {
  opacity: 1;
}

.chart-series g:hover circle {
  fill-opacity: 1;
}

.s0, .nv-series-0 {
  stroke: rgb(31, 119, 180);
  fill: rgb(31, 119, 180);  
}

.s1, .nv-series-1 {
  stroke: rgb(255, 127, 14);
  fill: rgb(255, 127, 14);
}

.s2, .nv-series-2 {
  stroke: rgb(44, 160, 44);
  fill: rgb(44, 160, 44);
}

.s3, .nv-series-3 {
  stroke: rgb(214, 39, 40);
  fill: rgb(214, 39, 40);
}

circle.nv-legend-symbol {
  stroke-width: 2px;
}
