.root {
  position: relative;
  width: 646px;
  height: 461px;
}

.root .tooltip {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.88);
  border: 1px solid gray;
  border-radius: 7px;
  padding: 10px;
  right: 0;
  bottom: 0;
}

.root .tooltip h3 {
  margin: 0;
}

.click-target {
  stroke: #888;
  fill: none;
}
